<body>
<br>
<br>
<p align="center"><img src="file:///android_res/drawable/logo.png" width="180" height="200" alt="panduhome" /></p>

<h3 align="center">Aplikasi Pembukuan SIMDA BPKD Kota Kotamobagu</h3>
<p>&nbsp;</p>
</body>

